 DB_HOST=social-media-agent.c30mcqcw641x.eu-west-3.rds.amazonaws.com
 DB_PORT=5432
 DB_NAME=social_media_agent
 DB_USER=<<DB_USER>>
 DB_PASSWORD=<<DB_PASSWORD>>
 OUTBOX_MIN_SEND_INTERVAL_MS=3600000
 OUTBOX_BACKOFF_MS=3600000
